.long_1000_template_PAC_1 {
    background: url("/content/static/bcom/desktop/ems/opeco/printemps20.png") no-repeat left 51px center #A4BDC0 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button span {
    color: #A4BDC0 !important;
}
.long_1000_template_PAC_1 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-A4BDC0.svg) no-repeat left center !important;
}
.long_1000_template_PAC_2 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_2 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_3 {
    background: url("/content/static/bcom/desktop/ems/opeco/bonnes-resolutions.png") no-repeat left 51px center #cbc3b4 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button span {
    color: #cbc3b4 !important;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-CBC3B4.svg) no-repeat left center !important;
}
.long_1000_template_PAC_4 {
    background: url("/content/static/bcom/desktop/ems/opeco/20190613-logo-ems-dynamique.png") no-repeat left 51px center #BE1622 !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button span {
    color: #BE1622 !important;
}
.long_1000_template_PAC_4 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-BE1622.svg) no-repeat left center !important;
}
.long_1000_template_PAC_5 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-03.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_5 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_6 {
    background: url("/content/static/bcom/desktop/ems/opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button span {
    color: #e9b235 !important;
}
.long_1000_template_PAC_6 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-e9b235.svg) no-repeat left center !important;
}
.long_1000_template_PAC_7 {
    background: url("/content/static/bcom/desktop/ems/opeco/soldeshiver2019.png") no-repeat left 51px center #BE1622 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button span {
    color: #BE1622 !important;
}
.long_1000_template_PAC_7 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-BE1622.svg) no-repeat left center !important;
}
.long_1000_template_PAC_8 {
    background: url("/content/static/bcom/desktop/ems/opeco/singleday.png") no-repeat left 51px center #1b1a2b !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button span {
    color: #1b1a2b !important;
}
.long_1000_template_PAC_8 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-1b1a2b.svg) no-repeat left center !important;
}
.long_1000_template_PAC_9 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-02.png") no-repeat left 51px center #9F7259 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_1000_template_PAC_9 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_1000_template_PAC_10 {
    background: url("/content/static/bcom/desktop/ems/opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button span {
    color: #0099e3 !important;
}
.long_1000_template_PAC_10 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_860_template_PAC_1 {
    background: url("/content/static/bcom/desktop/ems/opeco/printemps20.png") no-repeat left 51px center #A4BDC0 !important;
}
.long_860_template_PAC_2 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_3 {
    background: url("/content/static/bcom/desktop/ems/opeco/bonnes-resolutions.png") no-repeat left 51px center #cbc3b4 !important;
}
.long_860_template_PAC_4 {
    background: url("/content/static/bcom/desktop/ems/opeco/20190613-logo-ems-dynamique.png") no-repeat left 51px center #BE1622 !important;
}
.long_860_template_PAC_5 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-03.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_6 {
    background: url("/content/static/bcom/desktop/ems/opeco/happy-chef.png") no-repeat left 51px center #e9b235 !important;
}
.long_860_template_PAC_7 {
    background: url("/content/static/bcom/desktop/ems/opeco/soldeshiver2019.png") no-repeat left 51px center #fd5300 !important;
}
.long_860_template_PAC_8 {
    background: url("/content/static/bcom/desktop/ems/opeco/singleday.png") no-repeat left 51px center #1b1a2b !important;
}
.long_860_template_PAC_9 {
    background: url("/content/static/bcom/desktop/ems/opeco/bons-plans-02.png") no-repeat left 51px center #9F7259 !important;
}
.long_860_template_PAC_10 {
    background: url("/content/static/bcom/desktop/ems/opeco/special-vacances.png") no-repeat left 51px center #0099e3 !important;
}
.long_705_template_PAC_1 {
    background-color: #A4BDC0 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button span {
    color: #A4BDC0 !important;
}
.long_705_template_PAC_1 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-A4BDC0.svg) no-repeat left center !important;
}
.long_705_template_PAC_2 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_2 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_2 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_3 {
    background-color: #cbc3b4 !important;
}
.long_705_template_PAC_3 .ems_top_mono_button span {
    color: #cbc3b4 !important;
}
.long_705_template_PAC_3 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-CBC3B4.svg) no-repeat left center !important;
}
.long_705_template_PAC_4 {
    background-color: #BE1622 !important;
}
.long_705_template_PAC_4 .ems_top_mono_button span {
    color: #BE1622 !important;
}
.long_705_template_PAC_4 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-BE1622.svg) no-repeat left center !important;
}
.long_705_template_PAC_5 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_5 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_6 {
    background-color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button span {
    color: #e9b235 !important;
}
.long_705_template_PAC_6 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-e9b235.svg) no-repeat left center !important;
}
.long_705_template_PAC_7 {
    background-color: #BE1622 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button span {
    color: #BE1622 !important;
}
.long_705_template_PAC_7 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-BE1622.svg) no-repeat left center !important;
}
.long_705_template_PAC_8 {
    background-color: #1b1a2b !important;
}
.long_705_template_PAC_8 .ems_top_mono_button span {
    color: #1b1a2b !important;
}
.long_705_template_PAC_8 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-1b1a2b.svg) no-repeat left center !important;
}
.long_705_template_PAC_9 {
    background-color: #9F7259 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button span {
    color: #9F7259 !important;
}
.long_705_template_PAC_9 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-9F7259.svg) no-repeat left center !important;
}
.long_705_template_PAC_10 {
    background-color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button span {
    color: #0099e3 !important;
}
.long_705_template_PAC_10 .ems_top_mono_button:after {
    width: 23px !important;
    background: url(/content/static/bcom/desktop/ems/img/btn-0099e3.svg) no-repeat left center #ffffff !important;
}
.long_1000_template_PAC_3,
.long_1000_template_PAC_4,
.long_1000_template_PAC_5,
.long_1000_template_PAC_6,
.long_1000_template_PAC_7,
.long_1000_template_PAC_8,
.long_1000_template_PAC_9,
.long_1000_template_PAC_10,
.long_860_template_PAC_10,
.long_860_template_PAC_2,
.long_860_template_PAC_3,
.long_860_template_PAC_4,
.long_860_template_PAC_5,
.long_860_template_PAC_6,
.long_860_template_PAC_7,
.long_860_template_PAC_8,
.long_860_template_PAC_9 {
    background: url() left 51px center no-repeat #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button span,
.long_1000_template_PAC_4 .ems_top_mono_button span,
.long_1000_template_PAC_5 .ems_top_mono_button span,
.long_1000_template_PAC_6 .ems_top_mono_button span,
.long_1000_template_PAC_7 .ems_top_mono_button span,
.long_1000_template_PAC_8 .ems_top_mono_button span,
.long_1000_template_PAC_9 .ems_top_mono_button span,
.long_1000_template_PAC_10 .ems_top_mono_button span,
.long_705_template_PAC_2 .ems_top_mono_button span,
.long_705_template_PAC_3 .ems_top_mono_button span,
.long_705_template_PAC_4 .ems_top_mono_button span,
.long_705_template_PAC_5 .ems_top_mono_button span,
.long_705_template_PAC_6 .ems_top_mono_button span,
.long_705_template_PAC_7 .ems_top_mono_button span,
.long_705_template_PAC_8 .ems_top_mono_button span,
.long_705_template_PAC_9 .ems_top_mono_button span,
.long_705_template_PAC_10 .ems_top_mono_button span {
    color: #999999;
}
.long_1000_template_PAC_3 .ems_top_mono_button:after,
.long_1000_template_PAC_4 .ems_top_mono_button:after,
.long_1000_template_PAC_5 .ems_top_mono_button:after,
.long_1000_template_PAC_6 .ems_top_mono_button:after,
.long_1000_template_PAC_7 .ems_top_mono_button:after,
.long_1000_template_PAC_8 .ems_top_mono_button:after,
.long_1000_template_PAC_9 .ems_top_mono_button:after,
.long_1000_template_PAC_10 .ems_top_mono_button:after,
.long_705_template_PAC_2 .ems_top_mono_button:after,
.long_705_template_PAC_3 .ems_top_mono_button:after,
.long_705_template_PAC_4 .ems_top_mono_button:after,
.long_705_template_PAC_5 .ems_top_mono_button:after,
.long_705_template_PAC_6 .ems_top_mono_button:after,
.long_705_template_PAC_7 .ems_top_mono_button:after,
.long_705_template_PAC_8 .ems_top_mono_button:after,
.long_705_template_PAC_9 .ems_top_mono_button:after,
.long_705_template_PAC_10 .ems_top_mono_button:after {
    width: 23px;
    background: url(/content/static/bcom/desktop/ems/img/btn-mask.svg) left center no-repeat #999999 ;
}
.long_705_template_PAC_2,
.long_705_template_PAC_3,
.long_705_template_PAC_4,
.long_705_template_PAC_5,
.long_705_template_PAC_6,
.long_705_template_PAC_7,
.long_705_template_PAC_8,
.long_705_template_PAC_9,
.long_705_template_PAC_10 {
    background-color: #999999;
}